<% include head %>
  <h1><%= artist.name%></h1>
  <h2><%= artist.genre%></h2>
  <%if(artist.origin!=='N/A'){%>
    <h2>From: <%= artist.origin%></h2>
  <%}%>
  <button class="editButton">Edit Artist</button>
  <form class='artistEdit' action="/artists/<%= artist._id%>/edit" method="POST">
    <label>Name</label>
    <input type="text" name="name" value='<%= artist.name%>'>
    <label>Genre</label>
    <input type="text" name="genre" value="<%= artist.genre%>">
    <label>Origin</label>
    <input type="text" name="origin" value="<%= artist.origin%>">
    <input type="submit" value='Edit'>
  </form>
  <form class="artistDelete" action="/artists/<%= artist._id%>/delete" method="POST">
    <input type="submit" value="Delete">
  </form>
  <% include foot %>
