<% include head %>
  <div class='row'>
    <h1><%= artist.name%></h1>
  </div>
  <div class='row'>
    <h2><%= artist.genre%></h2>
  </div>
  <div class='row'>
    <h2><%= artist.origin%></h2>
  </div>
  <div class='row'>
    <button class="btn btn-success editButton">Edit Artist</button>
    <form class='artistEdit' action="/artists/<%= artist._id%>/edit" method="POST">
      <label>Name</label>
      <input type="text" name="name" value='<%= artist.name%>'>
      <label>Genre</label>
      <input type="text" name="genre" value="<%= artist.genre%>">
      <label>Origin</label>
      <input type="text" name="origin" value="<%= artist.origin%>">
      <input type="submit" value='Edit'>
    </form>
  </div>
  <div class="row">
    <form class="artistDelete" action="/artists/<%= artist._id%>/delete" method="POST">
      <input class="btn btn-danger" type="submit" value="Delete Artist">
    </form>
  </div>
  <div class="row">
    <h3>Add an Album for this Artist</h3>
    <form class='albumAdd' action="/albums/<%= artist._id%>/new" method='POST'>
      <label>Title:</label>
      <input type="text" name="title">
      <label>Year:</label>
      <input type="text" name="year">
      <input type="submit" value="Add">
    </form>
  </div>
  <div class="row">
    <div class="col-md-6 pull-right">
      <h3>Albums by <%= artist.name%></h3>
    </div>
  </div>
<%albums.forEach(function(album){ %>
  <div class="row">
    <div class="col-md-3 pull-right">
      <h4><%= album.year %></h4>
    </div>
    <div class="col-md-3 pull-right">
      <h4><%= album.title %></h4>
    </div>
  </div>
<%})%>

<% include foot %>
