<% include head %>
<div class='row'>
    <h1><%= album.title%></h1>
  </div>
  <div class='row'>
    <h2><%= album.year%></h2>
  </div>
  <div class='row'>
    <a href="/artists/<%= artist._id%>">
      <h2>By: <%= artist.name%></h2>
    </a>
  </div>
  <div class='row'>
    <button class="btn btn-success editAlbumButton">Edit Album</button>
    <form class='albumEdit' action="/albums/<%= album._id%>/edit" method="POST">
      <label>Title</label>
      <input type="text" name="title" value='<%= album.title%>'>
      <label>Year</label>
      <input type="text" name="year" value="<%= album.year%>">
      <input type="submit" value='Edit'>
    </form>
  </div>
  <div class="row">
    <form class="albumDelete" action="/albums/<%= album._id%>/delete" method="POST">
      <input class="btn btn-danger" type="submit" value="Delete Album">
    </form>
  </div>
<% include foot %>
